.heading {
  padding-bottom: 20px;
  text-decoration: underline;
}
.Login {
  width: 350px;
  height: 280px;
  margin: auto;
  margin-top: 250px;
  padding-top: 60px;
  background-color: lightblue;
  box-shadow: 20px black;
}

.username,
.password {
  margin-right: 100px;
}

.field {
  margin-top: 20px;
  padding-top: 20px;
}

.submit {
  margin-top: 20px;
}
